<div class="uploadContainer">  
  <div class="container">
    <div class="card">
      <h3>Subir archivo</h3>
      <div class="drop_box">
        <header>
          <h4>Seleccionar un archivo.</h4>
        </header>
        <p>Archivos compatibles: JSON</p>
        <input type="file" accept=".json" (change)="onFileChanged($event)">
      </div>
      <button class="btn" (click)="newProducto()" [disabled]="click">Aceptar</button>
      <span class="uploadError" *ngIf="subido === 'false'">La estructura del archivo no es la correcta. Intente nuevamente</span>
      <span class="uploadSuccess" *ngIf="subido === 'true'">Productos cargados correctamente</span>
    </div>
  </div>
</div>
