<div class="main">
  <div class="chat-box">
    <div class="message-area" #list [scrollTop]="list.scrollHeight">
      <div class="message" *ngFor="let mensaje of mensajes" [ngClass]="getTipoMensaje(mensaje.type)">
        <div class="text">
          {{mensaje.respuesta}}
          <div class='productCocina' *ngIf="mensaje.type === 'chatbotProducto'"> 
            <span>Rating: {{mensaje.rating}} estrellas</span><br>
            <span>Origen: {{mensaje.cuisine}}</span>
          </div>
          <div class="chat-actions" *ngIf="mensaje.type === 'chatbotMenuinicio' || mensaje.type === 'chatbotMenunormal'">
            <button type="button" class="chat-button" (click)="onActionMenu(menu)" *ngFor="let menu of menuOpciones"><div>{{menu}}</div></button>
          </div>
          <div class="hora">{{mensaje.hora}}</div>
        </div>
      </div>
    </div>
    <div class="input-area">
      <form (submit)="enviarMensaje()" name="messageForm" #messageForm="ngForm">
        <ion-input type="text" name="message" id="message" [(ngModel)]="mensaje" placeholder="Envía un mensaje..."></ion-input>
        <button>
          <ion-icon name="send"></ion-icon>
        </button>
      </form>
    </div>
  </div>
</div>