.main {
  justify-content: center;
  align-items: center;
  height: 100%;
  .chat-box {
    width: 100%;
    height: 100%;
    position: relative;
    background: #EFEFEF;
    .message-area {
      max-height: 90%;
      height: 90%;
      overflow: auto;
      padding: 15px 10px;
      .message {
        .text{
          color: black;
          font-size: 16px;
          margin: 0px;
          max-width: 80%;
          min-width: 55%;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          padding: 5px 15px 5px 7px;
          margin: 5px 0;
          background: white;
        }
        .productCocina{
          font-size: 14px;
        }
        .hora{
          color: black;
          white-space: nowrap;
          font-size: 12px;
          padding-top: 3px;
        }
      }
      .message.incoming {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .text{
          color: black;
          font-size: 16px;
          margin: 0px;
          max-width: 80%;
          min-width: 55%;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          padding: 5px 15px 5px 7px;
          margin: 5px 0;
          //background: #DFDFDF;
          border: 1px solid #DBDBDB;
          border-radius: 11px 11px 11px 11px;
        }
        .hora{
          color: black;
          white-space: nowrap;
          font-size: 12px;
          padding-top: 5px;
        }
      }
      .message.outgoing {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        .text{
          color: black;
          font-size: 16px;
          margin: 0px;
          max-width: 80%;
          min-width: 55%;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          padding: 5px 15px 5px 7px;
          margin: 5px 0;
          background: white;
          border-radius: 11px 11px 0 11px;
        }
        .hora{
          color: black;
          white-space: nowrap;
          font-size: 12px;
          padding-top: 5px;
        }
      }
    }
    .chat-actions{
      display: flex;
      flex-direction: column;
      .chat-button{
        align-items: center;
        border-radius: 4px;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        font-size: 13.75px;
        font-weight: bold;
        flex: 1;
        justify-content: center;
        padding: 12px 24px;
        margin: 4px;
        text-decoration: none;
      }
    }
  }
}

.input-area {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  
  background: white;
  box-shadow: inset 0 0 3px rgba(0,0,0,.5);

  form {
    display: flex;
    height: 100%;
    padding-left: 8px;
    
    ion-input {
      width: 82%;
      border: none;
      color: #464646;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Titillium Web', sans-serif;
      background: inherit;
       &:focus {
        outline: none;
      }
    }
    button {
      width: 10%;
      border: none;
      color: #8a898b;
      opacity: 0.9;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: inherit;
      ion-icon {
        font-size: 2.5rem;
      }
    }
  }
}